@{
    ViewData["Title"] = "Authorization";
}

<div class="text-center">
    <h1 class="display-4">Авторизация</h1>
    @Html.ActionLink("Регистрация", "Register", "Auth")
    @Html.ActionLink("Вход", "Login", "Auth")
</div>